<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Authorization!</title>
    <title>Spring Boot Thymeleaf - Bootstrap WebJars</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-3 well">
            <h3 class="text-center">Заказы</h3>
            <form method="post" class="form" th:object="${modelOrderAttributes}">
                <div class="btn-group btn-group-toggle col-md-12 row d-flex justify-content-center" data-toggle="buttons">
                    <th:block th:each="orderTime, stat : ${modelOrderAttributes.ordersTime}">
                        <label class="btn btn-secondary col-md-2">
                            <input type="radio"
                                   name="options1"
                                   th:id="'option' + ${stat.index + 1}"
                                   autocomplete="off"
                                   th:value="${orderTime}"
                                   th:field="${modelOrderAttributes.time}"
                                   th:utext="${orderTime}">
                        </label>
                    </th:block>
                </div>
                <div class="row align-items-center">
                    <div class="form-group col-md-6  d-flex justify-content-center">
                        <input type="submit" name="timeDelete" class="btn btn-default" value="Удалить время"/>
                    </div>
                    <div class="form-group col-md-6  d-flex justify-content-center">
                        <input type="button" name="exit" onclick="window.location.href = '/logout';" class="btn btn-default" value="Выход"/>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>


</body>
</html>