<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Authorization!</title>
    <title>Spring Boot Thymeleaf - Bootstrap WebJars</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-3 well">
            <h3 class="text-center">Заказы</h3>
            <form method="post" class="form" th:object="${modelOrderAttributes}">
                <div class="btn-group btn-group-toggle col-md-12 row d-flex justify-content-center" data-toggle="buttons">
                    <div class="col-md-1"></div>
                    <label class="btn btn-secondary col-md-2"
                           th:classappend="${#lists.contains(modelOrderAttributes.ordersTime, '09:00')} ? disabled : '' ">
                        <input type="radio"
                               name="options1"
                               id="option1"
                               autocomplete="off"
                               value="9:00"
                               th:field="${modelOrderAttributes.time}"> 9:00
                    </label>
                    <label class="btn btn-secondary col-md-2"
                           th:classappend="${#lists.contains(modelOrderAttributes.ordersTime, '10:00')} ? disabled : '' ">
                        <input type="radio"
                               name="options2"
                               id="option2"
                               autocomplete="off"
                               value="10:00"
                               th:field="${modelOrderAttributes.time}"> 10:00
                    </label>
                    <label class="btn btn-secondary col-md-2"
                           th:classappend="${#lists.contains(modelOrderAttributes.ordersTime, '11:00')} ? disabled : '' ">
                        <input type="radio"
                               name="options3"
                               id="option3"
                               autocomplete="off"
                               value="11:00"
                               th:field="${modelOrderAttributes.time}"> 11:00
                    </label>
                    <label class="btn btn-secondary col-md-2"
                           th:classappend="${#lists.contains(modelOrderAttributes.ordersTime, '12:00')} ? disabled : '' ">
                        <input type="radio"
                               name="options4"
                               id="option4"
                               autocomplete="off"
                               value="12:00"
                               th:field="${modelOrderAttributes.time}"> 12:00
                    </label>
                    <label class="btn btn-secondary col-md-2"
                           th:classappend="${#lists.contains(modelOrderAttributes.ordersTime, '13:00')} ? disabled : '' ">
                        <input type="radio"
                               name="options5"
                               id="option5"
                               autocomplete="off"
                               value="13:00"
                               th:field="${modelOrderAttributes.time}"> 13:00
                    </label>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <label class="btn btn-secondary col-md-2"
                           th:classappend="${#lists.contains(modelOrderAttributes.ordersTime, '14:00')} ? disabled : '' ">
                        <input type="radio"
                               name="options6"
                               id="option6"
                               autocomplete="off"
                               value="14:00"
                               th:field="${modelOrderAttributes.time}"> 14:00
                    </label>
                    <label class="btn btn-secondary col-md-2"
                           th:classappend="${#lists.contains(modelOrderAttributes.ordersTime, '15:00')} ? disabled : '' ">
                        <input type="radio"
                               name="options7"
                               id="option7"
                               autocomplete="off"
                               value="15:00"
                               th:field="${modelOrderAttributes.time}"> 15:00
                    </label>
                    <label class="btn btn-secondary col-md-2"
                           th:classappend="${#lists.contains(modelOrderAttributes.ordersTime, '16:00')} ? disabled : '' ">
                        <input type="radio"
                               name="options8"
                               id="option8"
                               autocomplete="off"
                               value="16:00"
                               th:field="${modelOrderAttributes.time}"> 16:00
                    </label>
                    <label class="btn btn-secondary col-md-2"
                           th:classappend="${#lists.contains(modelOrderAttributes.ordersTime, '17:00')} ? disabled : '' ">
                        <input type="radio"
                               name="options9"
                               id="option9"
                               autocomplete="off"
                               value="17:00"
                               th:field="${modelOrderAttributes.time}"> 17:00
                    </label>
                    <label class="btn btn-secondary col-md-2"
                           th:classappend="${#lists.contains(modelOrderAttributes.ordersTime, '18:00')} ? disabled : '' ">
                        <input type="radio"
                               name="options10"
                               id="option10"
                               autocomplete="off"
                               value="18:00"
                               th:field="${modelOrderAttributes.time}"> 18:00
                    </label>
                    <div class="col-md-1"></div>
                </div>
                <div class="row align-items-center">
                    <div class="form-group col-md-6  d-flex justify-content-center">
                        <input type="submit" name="timeExecute" class="btn btn-default" value="Выбрать время"/>
                    </div>
                    <div class="form-group col-md-6  d-flex justify-content-center">
                        <input type="button" name="exit" onclick="window.location.href = '/logout';" class="btn btn-default" value="Выход"/>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>


</body>
</html>