<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Authorization!</title>
    <title>Spring Boot Thymeleaf - Bootstrap WebJars</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-3 well">
        </div>
        <div class="col-md-6 col-md-offset-3 well">
            <h3 class="text-center">Регистрация</h3>
            <p  class="text-center text-danger" th:text="${message}"></p>
            <form class="form" method="post" th:object="${user}">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Введите Имя"
                               th:field="*{name}"/>
                        <p class="text-danger" th:each="error : ${#fields.errors('name')}"
                           th:text="${error}">Validation error</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="email"
                               class="form-control"
                               placeholder="Ваш E-mail"
                               th:field="*{email}"/>
                        <p class="text-danger" th:each="error : ${#fields.errors('email')}"
                           th:text="${error}">Validation error</p>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="password"
                               class="form-control"
                               placeholder="Пароль"
                               th:field="*{password}"/>
                        <p class="text-danger" th:each="error : ${#fields.errors('password')}"
                           th:text="${error}">Validation error</p>

                    </div>

                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="password"
                               class="form-control"
                               placeholder="Повторите пароль"
                               th:field="*{copyPassword}"/>
                        <p class="text-danger" th:each="error : ${#fields.errors('copyPassword')}"
                           th:text="${error}">Validation error</p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="form-group col-md-2">
                        <input type="checkbox"
                               class="form-control form-checkbox"
                               id="adminCheck"
                               th:field="*{admin}"/>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="form-control form-checkbox" for="adminCheck">Администратор</label>
                    </div>
                    <div class="form-group col-md-5">
                        <input type="submit" class="btn btn-default" value="Регистрация"/>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-3 col-md-offset-3 well">
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>


</body>
</html>